.play {
  border: 1px solid $grey;
  border-radius: 4px;
  padding: 16px;
  width: 100%;

  .icon {
    align-items: center;
    background-color: $grey;
    border-radius: 50%;
    display: flex;
    font-size: 32px;
    font-weight: 500;
    height: 100px;
    justify-content: center;
    line-height: 38px;
    margin: 16px 0 53px 16px;
    text-transform: uppercase;
    width: 100px;
  }

  h5 {
    font-family: Barlow;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 16px 16px;
  }

  p {
    color: $secondary;
    font-family: Barlow;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 16px 16px;
  }

  li {
    color: $darkGrey;
    font-family: Barlow;
    font-size: 12px;
    line-height: 18px;
    list-style: disc;
    margin: 0 0 16px 16px;
  }
}
